.wrap-modal-window{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 100%;
	font-size: 0;
	text-align: center;
	background-color: rgba(178, 160, 107, 0.9);
	padding: 20px;
	color: @white;
	display: none;
}
.close-modal{
	width: 104px;
	height: 112px;
	position: absolute;
	top: 7px;
	right: 0;
	cursor: pointer;
	background-image: url(../images/close.png);
}
.wrap-modal-window:after{
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.modal-window{
	max-width: 40%;
	margin: auto;
	box-shadow: 0 0 40px rgba(0,0,0,0.3);
	padding: 170px 130px 150px 130px;
	z-index: 1000;
	position: relative;
	background-color: @bg-color-dark;
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	width: 100%;
	max-width: 1284px;
	overflow: auto;
	max-height: 100%;
	height: 860px;
	background-image: url(../images/bg-modal.png);
	background-repeat: no-repeat;
	background-position: 100% 0;
	background-size: auto 100%;
	text-align: left;
	h1{
		color: @white;
		font-family: "foobar_pro";
		text-align: left;
		line-height: 1.2173;
	}
	.line{
		background-color: @bg-white;
		height: 5px;
		width: 50px;
		margin-top: 40px;
	}
	.form-style{
		margin-bottom: 30px;
	}
}
.content-modal{
	max-width: 400px;
}
.open{
	display: block;
}
@media (max-width: 1024px) {
	.modal-window{
		padding: 120px 50px 150px 50px;
	}
}
@media (max-width: 500px) {
	.modal-window{
		padding: 100px 20px 150px 20px;
		h1{
			font-size: 30px;
		}
		.btn-form{
			margin-top: 50px;
		}
	}
}